@model Application.ViewModels.SaveTipoViewModel
@{
    bool isCreated = Model.ID == 0 ? false : true;
    ViewData["Title"] = "Tipo";
}
<div class="container-fluid mt-4">
    <div class="row col-6 offset-3">
        <div class="card mt-3">
            <div class="card-body">

                <h3 class="card-title text-center">@(isCreated ? $"Editando el tipo { Model.Nombre }"   : "Creando nuevo tipo" )</h3>
            <form method="post" asp-controller="Tipo" asp-action="@(isCreated ? "Edit" : "Create")">
                <input type="hidden" asp-for="ID" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                <div class="mb-3">
                    <label asp-for="Nombre" class="form-label fs-5">Ingrese el tipo de pokemon</label>
                    <input asp-for="Nombre" type="text" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a asp-controller="Tipo" asp-action="Index" class="btn btn-warning">Volver</a>
            </form>
                </div>
        </div>

    </div>
</div>