@model List<Application.ViewModels.PokemonViewModel>
@{
    ViewData["Title"] = "Pokemones";
}

<div class="container-fluid">
    <div class="row m-3">
        <div class="col-3 offset-9">
            <a asp-controller="Pokemon" asp-action="Create" class="btn btn-outline-info">Crear Nuevo Pokemon</a>
          
        </div>
    </div>
    <div class="row">

        @foreach (Application.ViewModels.PokemonViewModel item in Model)
        {
            <div class="col m-3">
                <div class="card" style="width: 18rem;">
                    <img src="@item.ImagenUrl" class="card-img-top ">
                    <div class="card-body">
                        <h5 class="card-title">@item.Nombre</h5>
                        <a asp-controller="Pokemon" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-success">Edit</a>
                        <a asp-controller="Pokemon" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
